%progress-bar {
  display: flex;
  flex-grow: 1;
  max-width: 60px;
  height: 1px;
  margin: 0px 8px;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  border-color: var(--done-progress-border);
}

.register-container {
  h2.register-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--main-text);
  }
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  .progress-bar {
    @extend %progress-bar;
  }
  .progress-bar-undone {
    @extend %progress-bar;
    border-color: var(--undone-progress-border);
  }

  .progress-group {
    display: flex;

    .progress-icon {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
      border: 1px solid var(--undone-progress-border);
      color: var(--progress-undone-color);

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        color: inherit;
      }
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: inherit;
        height: inherit;
      }
    }
    .progress-label {
      font-weight: 400;
      line-height: 24px;
      color: var(--progress-undone-color);
    }
  }
  .step-current {
    .progress-icon {
      color: var(--main-text);
      background-color: transparent;
      border: 1px solid var(--progress-current-color);
    }
    .progress-label {
      color: var(--main-text);
    }
  }
}

@media screen and (max-width: $screen-break-point) {
  .register-container {
    position: relative;
    section.progress-container {
      margin-top: 24px;
      .progress-label {
        display: none;
      }
    }
    section.progress-control-container {
      position: absolute;
      bottom: -150%;
    }
  }
}
